<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.thenewavaafrican2015" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyProfileNew"
            android:label="@string/title_activity_my_profile_new"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.user.thenewavaafrican2015.MyProfileNew" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyMedicine"
            android:label="@string/title_activity_my_medicine"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.user.thenewavaafrican2015.MyMedicine" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyTBWorld"
            android:label="@string/title_activity_my_help"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.user.thenewavaafrican2015.MyHelp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyDosage"
            android:label="@string/title_activity_my_dosage"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.user.thenewavaafrican2015.MyDosage" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyAlerts"
            android:label="@string/title_activity_my_alerts"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.user.thenewavaafrican2015.MyAlerts" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WhatIsTB"
            android:label="@string/title_activity_what_is_tb"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.user.thenewavaafrican2015.WhatIsTB" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GetHelp"
            android:label="@string/title_activity_get_help"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.user.thenewavaafrican2015.GetHelp" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManagingTB"
            android:label="@string/title_activity_managing_tb"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.user.thenewavaafrican2015.ManagingTB" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreventingTB"
            android:label="@string/title_activity_preventing_tb"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.user.thenewavaafrican2015.PreventingTB" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
